{%extends "encyclopedia/layout.html"%}
{% load static%}

{% block head%}
<link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
{% block title%}
Create New Page
{% endblock %}

{%endblock%}

{% block body %}
<div>
    <h1> Create a Wiki New Page </h1>
</div>
<div>
    <form action="{% url 'new_page' %}" method = "POST">
        {% csrf_token %}
        <div class="textarea">
            <label for="newtitle">Enter a title for the page</label>
            <textarea id="newtitle" name="newtitle" placeholder="Enter a title" rows="4" cols="50" required></textarea>
        </div>
        <div class="textarea">
            <label for="newcontent">Enter content for the page</label>
            <textarea id="newcontent" name="newcontent" placeholder="Enter content" rows="4" cols="50" required></textarea>
        </div> 
        <div class="submit-button">
            <input class="btn btn-primary" type="submit" value="Save the Page">
        </div>
    </form>
</div>


{% endblock%}